.card-container {
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.08),0 0 0 1px rgba(0,0,0,.02);
  display: flex;
  flex: 1 1 auto;
  height: 160px;
  justify-content: center;
  margin: 10px;
  min-width: 20%;
  overflow: hidden;
  width: 200px;

  &:hover,
  &:focus {
    cursor: zoom-in;

    & .card-info {
      opacity: 1;
    }

    .shine {
      position: relative;
      overflow: hidden;

    
      &::before {
        background: linear-gradient(
          to right,
          fade_out(#fff, 1) 0%,
          fade_out(#fff, 0.7) 100%
        );
        content: "";
        display: block;
        height: 100%;
        left: -75%;
        position: absolute;
        top: 0;
        transform: skewX(-25deg);
        width: 50%;
        z-index: 2;
      }
    
      @keyframes shine {
        100% {
          left: 125%;
        }
      }
    }

    .shine::before {
      animation: shine 0.85s;
    }
  }

  .card-body-container {
    align-items: flex-end;
    background: transparent;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .card-info {
    align-items: center;
    background: rgba(4, 97, 204, 0.8);
    color: white;
    display: flex;
    height: 30%;
    justify-content: center;
    opacity: 0;
    width: 100%;
  }

  .arrow-right {
    border-left: 2px solid white;
    border-top: 2px solid white;
    display: block;
    height: 10px;
    margin: 0 10px;
    width: 10px;
  }

  .arrow-right {
    transform: rotate(135deg);
  }
}
